<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="/validate.css">
    <title>Validate</title>
</head>
<body>
    <h1>Validate Email-address</h1>

    <p>Check your email for validation link</p>
    <a href="/">Then click here.</a>
</body>
</html>